body {
    overflow-y: hidden;
    overflow-x: hidden;
}

header nav {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

header nav img, h1 {
    grid-column: span 2;
    font-size: 21pt;
    width: 80%;
}

header nav h1 {
    border-bottom: solid 5px #333;
    line-height: 3;
}

header nav i {
    visibility: collapse;
    position: absolute;
}

header nav button{
    font-size: 16pt;
    background-color: var(--secondaryBackground);
    border-radius: 25px;
}

header nav i {
    grid-column: span 2;
}

main article {
    position: absolute;
    height: 100vh;
    background-color: var(--foreground)
}

#AppointmentsArticle {
    margin-top: 100vh;
}
#TheOwnersArticle {
    margin-top: 200vh;
}
#FAQArticle {
    margin-top: 300vh;
}

main article h1 {
    background-color: var(--secondaryBackground);
    width: 100%;
    text-align: center;
    line-height: 2;
    border-bottom: 5px solid #333;
}

main article p {
    width: 80%;
    margin: 25px 10%;
}

.mobileToTopBtn {
    background-color: var(--primaryBackground);
    font-size: 18pt;
    float: right;
    border: 5px solid var(--special);
    line-height: 1.5;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0 10px;
    cursor: pointer;
    transform: translateX(5px);
}