header nav img, h1 {
    width: 30%;
    margin: 5%;
    font-size: 21pt;
}

header nav i, header nav button {
    line-height: 2;
    background-color: var(--secondaryBackground);
}

.open_menu_icon {
    animation-name: tabletNavBarOpenIcon;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.close_menu_icon {
    animation-name: tabletNavBarCloseIcon;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.open_menu_buttons{
    animation-name: tabletNavBarOpenButtons;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.close_menu_buttons{
    animation-name: tabletNavBarCloseButtons;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes tabletNavBarOpenButtons {
    from {
        transform: scale(0%);
    } to {
        transform: scale(100%);
    }
}

@keyframes tabletNavBarCloseButtons {
    from {
        transform: scale(100%);
    } to {
        transform: scale(0%);
    }
}

@keyframes tabletNavBarOpenIcon {
    from {
        width: 64px;
        border-radius: 16px;
    } to {
        width: 100%;
        border-radius: 0px;
    }
}

@keyframes tabletNavBarCloseIcon {
    from {
        width: 100%;
        border-radius: 0px;
    } to {
        width: 64px;
        border-radius: 16px;
    }
}

main {
    position: absolute;
    width: 90%;
    margin: 0 5%;
    border-radius: 16px;
}

main article {
    width: 80%;
    margin: 25px 10%;
}

main h1 {
    font-size: 16pt;
}

main p {
    font-size: 14pt;
}

.open_menu_main {
    animation-name: tabletNavBarOpenMain;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.close_menu_main {
    animation-name: tabletNavBarCloseMain;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes tabletNavBarOpenMain {
    from {
        transform: translateY(-190px);
    } to {
        transform: translateY(0px);
    }
}

@keyframes tabletNavBarCloseMain {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(-190px);
    }
}

.mobileToTopBtn {
    display: none;
}