:root {
    --foreground: #eff2f1;
    --tertiarybackground: rgba(120, 85, 137, 0.5);
    --secondaryBackground: #6A79FF;
    --primaryBackground: #B9D4FF;
    --special: #f2545b;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: var(--primaryBackground);
    overflow-x: hidden;
}

header {
    background-color: var(--secondaryBackground)
}

header, nav ul {
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    line-height: 2;
    font-size: 14pt;
}

header i, nav i {
    width: 100%;
    text-align: center;
}

nav ul {
    background-color: var(--primaryBackground);
    list-style-type: none;
}

nav i:hover, nav .menu_option:hover {
    cursor: pointer;
    background-color: var(--special)
}

main {
    background-color: var(--foreground);
    line-height: 2;
}