header {
    grid-template-columns: 1fr 2fr;
}

header img {
    width: 64px;
    margin: 10px 0;
}

header i {
    position: absolute;
    visibility: collapse;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav i {
    background-color: var(--primaryBackground);
    width: 64px;
    border-radius: 16px;
    transform: rotate(0deg);
}

nav ul {
    transform: translateX(-100%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.openMenuIcon {
    animation: openNavIcon .5s forwards;
}

.closeMenuIcon {
    animation: closeNavIcon .5s forwards;
}

.openMenuUl {
    animation: openNavUl .5s forwards;
}

.closeMenuUl {
    animation: closeNavUl .5s forwards;
}

@keyframes openNavUl {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes closeNavUl {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}

@keyframes openNavIcon {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(90deg);
    }
}

@keyframes closeNavIcon {
    from {
        transform: rotate(90deg);
    } to {
        transform: rotate(0deg);
    }
}

main article h1 {
    background-color: var(--tertiarybackground);
    padding-left: 64px;
}

main article p {
    padding: 0 32px;
}